{% extends "base.html" %}
{% block title %}{{ 'グループ編集' if group else 'グループ作成' }}{% endblock %}
{% block page_title %}{{ 'グループ編集' if group else 'グループ作成' }}{% endblock %}
{% block back_btn %}
  <a href="{{ url_for('groups_bp.list_groups') }}" class="back-btn">‹ グループ</a>
{% endblock %}
{% block content %}

<form method="post">
  <div class="form-group">
    <label for="name">グループ名</label>
    <input class="form-control" type="text" id="name" name="name"
           value="{{ group.name if group else '' }}" required maxlength="64">
  </div>
  <button type="submit" class="btn btn-primary btn-full">
    {{ '更新する' if group else '作成する' }}
  </button>
</form>

{% endblock %}
